{% extends 'base.html' %}

{% load static %}

{% block title %}Recipe{% endblock %}
{% block content %}
    <h2>{{ object.name }}</h2>

    <p><strong>Author:</strong> {{ object.author.username }}</p>
    <ul>
        {% for ingredient in object.ingredients.all %}
        <li>
            {{ ingredient.quantity }} {{ ingredient.ingredient.name }}
        </li>
        {% endfor %}
    </ul>

    <p><small>Created On: {{ object.created_on }}</small></p>
    <p><small>Updated On: {{ object.updated_on }}</small></p>

    {% if request.user.is_authenticated %}
    <p>Welcome {{ request.user.username }}</p>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% endif %}
{% endblock %}
